@import "tailwindcss";

body{
  background-color: black;
}

.scrollbar::-webkit-scrollbar{
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track{
  background-color: black;
}

.scrollbar::-webkit-scrollbar-thumb {
  opacity: 50;
  background: linear-gradient(black , blue);
  border-radius: 10px;
}